CONFIG='{"CG_AUTH": "","SALT": "","CG_COOKIE": "","BASE_URL": "","API_PATH": "","APP_KEY": ""}'
WEATHER_CONFIG='{"location":"","API_HOST":"","API_KEY":"","JWT_KID":"","PROJECT_ID":"","PRIVATE_KEY":""}'